<!DOCTYPE html>
<html>
    <head>
        <title>Svbtle Subscriber - Don't miss good content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li><a href="/all">svbtle authors</a></li>
                            <li><a href="http://svbtle.com">svbtle.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% block content %} {% endblock %}
        </div>
        <div class="footer">
            <p>
                <small>
                    Created with coffee and rock-n-roll music by
                    <a href="http://twitter.com/durden20">durden</a>.
                    To contribute
                    <a href="http://github.com/durden/svbtle_subscriber">fork it</a>.
                    <br/>
                    This project is not sponsored or affiliated in anyway
                    with <a href="http://svbtle.com">svbtle.com</a>.
                </small>
            </p>
        </div>
    </body>
</html>
